.list {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 100px;
        margin-top: 32px;
        gap: 28px;
}


// .avatarka {
//     position: absolute;
//     left: 150px;
//     top: 178px;
//     border-radius: 50%;
// }

.avatarka {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
        left: 150px;
        top: 178px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.avatarImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.tweets {
    margin-top: 70px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #EBD8FF;
}

.followers {
    margin-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #EBD8FF;
}

.btnWrapper {

    margin-top: 26px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    width: 196px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);

    color: #373737;
    padding: 14px 28px;
    background: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;

    &.active {
        transition: background 0.5s;
        background: #5CD3A8;
    }
}