.title {
    text-align: center;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EBD8FF;
}
@keyframes flyin {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome {
    padding-top: 95px;
    animation: flyin 1s ease forwards;
}